a{
	text-decoration: none;

}

.btncheck{
	background: black;
	color: white;
	border:3px solid white;
	border-radius: 6px;
	width: 150px;
	height: 40px;
	transition: 0.1s;
}

.btncheck:hover{
	width: 160px;
	background: white;
	color: black;
}



.slide{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 450px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 20px;
	color: white;
}

.para p{
	margin-left: 20px;
	color: white;
	
}







@media (max-width:1300px){

	.btncheck{
	width: 120px;
	height: 40px;
	margin: 4px;
	
}




.slide{
	width: 100%;
	height: 500px;
	font-size: 14px;
	margin-left: 2px;
}

.para p{
	margin-left: 14px;
	
}
	
}




@media (max-width:1030px){

.btncheck{

	width: 100px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	height: 40px;
}



.slide{
	width: 100%;
	height: 490px;
	margin-left: 2px;
}

.para p{
	font-size: 18px;
	
}
	
}



@media (max-width:1030px){

.btncheck{

	width: 300px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 10px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 490px;
	margin-left: 1px;
}

.para p{
	font-size: 16px;
	
}
	
}


@media (max-width:820px){

.btncheck{

	width: 300px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 100px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 490px;
	margin-left: 1px;
}

.para p{
	font-size: 16px;
	
}
	
}


@media (max-width:670px){

.btncheck{

	width: 300px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 100px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 490px;
	margin-left: 5px;
}

.para p{
	font-size: 15px;
	
}
	
}



@media (max-width:620px){

.btncheck{

	width: 200px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 100px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 490px;
	margin-left: 5px;
}

.para p{
	font-size: 15px;
	
}
	
}



@media (max-width:570px){

.btncheck{

	width: 200px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 100px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 500px;
	margin-left: 5px;
}

.para p{
	font-size: 15px;
	
}
	
}


@media (max-width:520px){

.btncheck{

	width: 200px;
	display: grid;
	align-items: center;
	align-content: center;
	margin: 3px;
	margin-left: 100px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 600px;
	margin-left: 5px;
}

.para p{
	font-size: 15px;
	
}
	
}



@media (max-width:460px){

.btncheck{
	width: 170px;
	margin: 3px;
	margin-left: 50px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 600px;
	margin-left: 5px;
}

.para p{
	font-size: 15px;
	
}
	
}


@media (max-width:460px){

.btncheck{
	width: 170px;
	margin: 3px;
	margin-left: 50px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 600px;
	margin-left: 1px;
}

.para p{
	font-size: 14px;
	
}
	
}


@media (max-width:420px){

.btncheck{
	width: 150px;
	margin: 3px;
	margin-left: 30px;
	height: 40px;
}


	
}


@media (max-width:360px){

.btncheck{
	width: 150px;
	margin: 3px;
	margin-left: 30px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 600px;
	margin-left: 1px;
}

.para p{
	font-size: 14px;
	
}
	
}




@media (max-width:355px){

.btncheck{
	width: 150px;
	margin: 3px;
	margin-left: 30px;
	height: 40px;
}



.slide{
	width: 98%;
	height: 670px;
	margin-left: 1px;
}

.para p{
	font-size: 12px;
	
}
	
}